* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #60b660;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            overflow-x: hidden;
            padding: 0 1rem;
  }
  
  .balls {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: -webkit-gradient(linear, left bottom, right top, from(rgba(126, 216, 216, 0.9)), to(rgba(124, 250, 130, 0.2)));
    background: linear-gradient(to top right, rgba(126, 216, 216, 0.9), rgba(124, 250, 130, 0.2));
    position: absolute;
    z-index: -2;
  }
  
  .balls:nth-child(1) {
    bottom: 1rem;
    left: 5rem;
    background: -webkit-gradient(linear, left bottom, right top, from(rgba(124, 250, 130, 0.2)), to(rgba(126, 216, 216, 0.9)));
    background: linear-gradient(to top right, rgba(124, 250, 130, 0.2), rgba(126, 216, 216, 0.9));
  }
  
  .balls:nth-child(2) {
    top: .5rem;
    right: 6rem;
  }
  
  main {
    width: 65%;
    height: 85%;
    background: -webkit-gradient(linear, left bottom, right top, from(rgba(188, 214, 214, 0.6)), to(rgba(209, 219, 209, 0.2)));
    background: linear-gradient(to top right, rgba(188, 214, 214, 0.6), rgba(209, 219, 209, 0.2));
    border-radius: 2rem;
    margin: auto;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2rem;
  }
  
  main .dashboard {
    background: -webkit-gradient(linear, left bottom, right top, from(rgba(240, 240, 240, 0.6)), to(rgba(240, 240, 240, 0.2)));
    background: linear-gradient(to top right, rgba(240, 240, 240, 0.6), rgba(240, 240, 240, 0.2));
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-radius: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  main .dashboard .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: sp;
        -ms-flex-pack: sp;
            justify-content: sp;
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  
  main .dashboard .profile img {
    margin-bottom: 1rem;
    width: 6rem;
    height: 6rem;
  }
  
  main .dashboard .profile h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: .5rem;
  }
  
  main .dashboard .profile p {
    font-size: 1rem;
    font-weight: 600;
  }
  
  main .dashboard .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  main .dashboard .contact-info .infor-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  
  main .dashboard .contact-info .infor-card img {
    width: 3rem;
  }
  
  main .dashboard .contact-info .infor-card p {
    margin-top: 1rem;
    color: #1c7c1c;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Lexend Mega", sans-serif;
  }
  
  main .dashboard .contact-info .infor-card p a {
    cursor: pointer;
    color: #1c7c1c;
    text-decoration: none;
  }
  
  main .dashboard .quote {
    background: -webkit-gradient(linear, left bottom, right top, from(rgba(58, 240, 58, 0.9)), to(rgba(58, 240, 58, 0.2)));
    background: linear-gradient(to top right, rgba(58, 240, 58, 0.9), rgba(58, 240, 58, 0.2));
    width: 93%;
    height: 34%;
    border-radius: 3rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
  
  main .dashboard .quote p {
    font-weight: 600;
    font-weight: 1rem;
    font-family: "Lexend Mega", sans-serif;
  }
  
  main .stats {
    margin-left: 1rem;
    padding: 1rem;
    height: 100%;
    margin-left: 1rem;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  
  main .stats .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3rem;
  }
  
  main .stats .top .hello {
    background-color: #021302;
    color: white;
    padding: .3rem;
  }
  
  main .stats .top h2 {
    font-weight: 600;
  }
  
  main .stats .top input {
    background-color: whitesmoke;
    padding: .3rem;
    outline: none;
    color: black;
    border-radius: .6rem;
    width: 40%;
    margin-top: 1rem;
    text-align: center;
  }
  
  main .stats .top input::-webkit-input-placeholder {
    opacity: 0.9;
    color: grey;
  }
  
  main .stats .top input:-ms-input-placeholder {
    opacity: 0.9;
    color: grey;
  }
  
  main .stats .top input::-ms-input-placeholder {
    opacity: 0.9;
    color: grey;
  }
  
  main .stats .top input::placeholder {
    opacity: 0.9;
    color: grey;
  }
  
  main .stats .card {
    background: -webkit-gradient(linear, left top, right top, from(rgba(240, 240, 240, 0.7)), to(white));
    background: linear-gradient(to right, rgba(240, 240, 240, 0.7), rgba(235, 226, 226, 0.3));
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20%;
    width: 90%;
    flex-direction: column;
    overflow: hidden;
    margin-top: 3rem;
  }
  
  main .stats .card img {
    width: 7rem;
    height: 7rem;
  }
  
  main .stats .card .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    margin: 1rem;
  }
  
  main .stats .card .details .progressive {
    overflow: hidden;
    width: 100%;
    height: 1.5rem;
    border-radius: 2rem;
    background: #7cfa82;
    position: relative;
  }
  
  main .stats .card .details .progressive::before {
    content: " ";
    background: grey;
    position: absolute;
    right: -60%;
    width: 100%;
    border-radius: 2rem;
    height: 1.5rem;
  }
  
  main .stats .card .percentage {
    margin-top: 2rem;
  }
  
  main .stats .card .percentage h2 {
    background: -webkit-gradient(linear, left bottom, right top, from(#1c7c1c), to(#1a491d));
    background: linear-gradient(to top right, #1c7c1c, #1a491d);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: .5rem;
  }
  
  
  @media only screen and (max-width:  1000px) {

      
      .balls:nth-child(2) {
        top: .5rem;
        right: -6rem;
      }

      
  .balls:nth-child(1) {
    bottom: -5rem;
    left: -2rem;
  }

      main{
 
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 2rem;
      }
      

      .dashboard{
        padding-bottom: 2rem;
       
      }

      main .dashboard .profile h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: .3rem;
      }
      
      main .dashboard .profile p {
        font-size: 1rem;
        font-weight: 600;
      }

      .quote{
        height: 20%;
        width: 10%;
      }

      .stats{
        justify-content: center;
       padding-top: 2rem;
      }

      .top{
        align-items: center;
        width: 100%;
      }

      main .stats .top input {
        width: 65%;
      }
      
      main .stats .card {
        height: 20rem;
        flex-direction: column;
        width: auto;
        overflow: hidden;
        margin-top: 2rem;
      }
      
      main .stats .card img {
        margin: auto;
        width: auto;
      }

      main .stats .card .details{
        width: 60%;
        margin: auto;
        margin-top: .7rem;
        text-align: center;
      }

      main .stats .card .details p{
        margin-bottom: .5rem;
      }

      main .stats .card .percentage{
       text-align: center;
       margin-top: .5rem;
      }
  }
  
  /*# sourceMappingURL=main.css.map */